<h2>List Of Products</h2>

<div *ngFor="let product of products" class="product-item">
    <h3>
        <a [title]="product.title + ' details'" [routerLink]="['/products', product.id]">
            {{ product.title }}</a>
    </h3>
    <p *ngIf="product.description">Description: {{ product.description }}</p>
    <p>Price: {{ product.price | currency: 'INR'}}</p>
    <p>Category: {{ product.category }}</p>
    <p>Rating: {{ product.rating.rate }} ({{ product.rating.count }} reviews)</p>
    <img [src]="product.image" alt="{{ product.title }}" class="product-image">
    <button (click)="addToCart(product)">Buy</button>
</div>